<h1>Lake Tahoe Vacation Rentals</h1>



    <% @cabins.each do |cabin| %>
        <div><%= image_tag cabin.image_url(:thumb).to_s %></div>
        <div><%= cabin.title %></div>
     <div><h4><span>$<%= cabin.price %></span></h4>
        <%= cabin.bedrooms %> BR/
        <%= cabin.bathrooms %> BA/
        sleeps <%= cabin.sleeps %>
       <button class="button-blue.button-lg"><h4><%= link_to 'Inquire', cabin %></div></button></h4>

<% end %>


