<p id="notice"><%= notice %></p>

<body>

<h1 id="H1_1">
  <%= @cabin.title %>
</h1>


<div id="DIV_40">
  <div id="DIV_41">
    <ul id="UL_42">
      <li id="LI_43">
        <a href="javascript:void(0)" id="A_44">Overview</a><span id="SPAN_45"></span>
      </li>
      <li id="LI_43">
        <a href="javascript:void(0)" id="A_47">Map</a><span id="SPAN_48"></span>
      </li>
      <li id="LI_43">
        <a href="javascript:void(0)" id="A_50">Availability</a><span id="SPAN_51"></span>
      </li>
      <li id="LI_43">
        <a href="javascript:void(0)" id="A_53">Rates</a><span id="SPAN_54"></span>
      </li>
      <li id="LI_43">
        <a href="javascript:void(0)" id="A_56">Amenities</a><span id="SPAN_57"></span>
      </li>
      <li id="LI_43">
        <a href="javascript:void(0)" id="A_59">Reviews</a><span id="SPAN_60"></span>
      </li>
    </ul>
  </div>
</div>





 <div class="group">
 <div class="photo">
  <%= image_tag @cabin.image_url(:thumb).to_s %>
 </div>

  <div class="interested">
    <h3>Interested?</h3>
   <h4>From: $<%= @cabin.price %> per night</h4>
   <h4> Request more information</h4>
    <button id="BUTTON_189" type="button">
      Contact Manager
    </button>
  </div>
 </div>



<div id="DIV_1">
  <ul class= UL">
    <li id="LI_3"><%= @cabin.bedrooms %> Bedrooms</li>
    <li id="LI_4"><%= @cabin.bathrooms %> Bathrooms</li>
    <li id="LI_5">Sleeps <%= @cabin.sleeps %></li>
    <li id="LI_6"><%= @cabin.type %></li>

    <h4>Description from the Manager</h4>
      <p>
        <%= @cabin.overview %>
      </p>
</div>

<h3>Rates</h3>
<div id="DIV_1">
<table summary="Rates" id="TABLE_2">
  <thead id="THEAD_3">
  <tr id="TR_4">
    <th id="TH_5">Dates</th>
    <th id="TH_6">Nightly</th>
    <th id="TH_7">Weekly</th>
    <th id="TH_9">Monthly</th>
    <th id="TH_9">Minimum Stay</th>

  </tr>
  </thead>

<tbody id="TBODY_10">
  <% @cabin.rates.each do |rate| %>
	<tr id="TR_11">
	  <td colspan="5" id="TD_12">
	    <table id="TABLE_13">
	      <tbody id="TBODY_14">
	      <tr id="TR_15">
	        <th id="TH_16">
	  <div id="DIV_17"><%= rate.date %></div>
	          <div id="DIV_18"></div>
	          <div id="DIV_19"></div>
	  <td id="TD_20">$<%= rate.nightly %></td>
	  <td id="TD_21">$<%= rate.weekly %></td>
	        <td id="TD_22">Not Listed</td>
	  <td id="TD_23"><%= rate.minimum_stay %></td>
	</tr>
	<% end %>
</tbody>
</table>

<button id="BUTTON_189">
<%= link_to 'Back', cabins_path %>
</button>

</body>