<p id="notice"><%= notice %></p>

<p>
  <strong>From</strong>
  <h4>$<%= @cabin.price %> per night</h4>
</p>

<p>
  <strong>Overview:</strong>
  <%= @cabin.overview %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @cabin.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @cabin.bathrooms %>
</p>

<p>
  <strong>Sleeps:</strong>
  <%= @cabin.sleeps %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cabin.type %>
</p>
<h3>Rates</h3>
<div id="DIV_1">
<table summary="Rates" id="TABLE_2">
  <thead id="THEAD_3">
  <tr id="TR_4">
    <th id="TH_5">Dates</th>
    <th id="TH_6">Nightly</th>
    <th id="TH_7">Weekly</th>
    <th id="TH_9">Minimum Stay</th>
  </tr>
  </thead>

<tbody>
  <% @cabin.rates.each do |rate| %>
	<tr>
	  <td><%= rate.date %></td>
	  <td><%= rate.nightly %></td>
	  <td><%= rate.weekly %></td>
	  <td><%= rate.minimum_stay %></td>
	</tr>
	<% end %>
</tbody>
</table>

<button id="BUTTON_189">
<%= link_to 'Back', cabins_path %>
</button>

